# This is repository-specific gitignore file.
# Global gitignore file is in /git/ignore.

/*
!/*/
/*/*

!.gitignore
!.gitmodules
!.editorconfig
!/con

# fish
# !/fish/config.fish
# !/fish/functions/

# kakoune
!/kak/*
/kak/plugins

# sway
!/sway/*
/sway/display.sway

# git
!/git/config
!/git/ignore

# kime
!/kime
!/kime/layouts/

# environment.d
!/environment.d/env.conf
!/environment.d/env

!/feh/buttons
!/gtk-3.0/settings.ini
!/tmux/tmux.conf
!/chips/plugin.yaml
!/gsimplecal/config
!/mako/config
!/rofi/*


!/bin/*
