# This is repository-specific gitignore file.
# Global gitignore file is in /git/ignore.

/*
!/*/
/*/*

!.gitignore
!.gitmodules
!.editorconfig
!/con

# fish
!/fish/config.fish
!/fish/functions/
/fish/functions/gitstatus.fish
/fish/functions/to.fish
/fish/functions/fish_prompt.fish

# kakoune
!/kak/*
/kak/plugins

# sway
!/sway/*
/sway/display.sway
/sway/bar.toml

# git
!/git/config
!/git/ignore

# kime
!/kime
!/kime/layouts/

# environment.d
!/environment.d/env.conf
!/environment.d/env

# npm
!/npm/*

!/imv/config
!/gtk-3.0/settings.ini
!/tmux/tmux.conf
!/chips/plugin.yaml
!/gsimplecal/config
!/mako/config

!/alacritty/*
!/bin/*
!/rofi/*

!/paru/paru.conf

!/gnupg/gpg-agent.conf

!/pulse/*.pa
