configuration {
	modes: "combi,filebrowser";
	combi-modes: "drun";

	show-icons: true;
	terminal: "foot";

	sidebar-mode: false;

	separator-style: "none";

	combi-hide-mode-prefix: true;
}
@theme "./xnuk.rasi"
